<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<table class="action-table"> 

  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Genre</th>
      <th>Language</th>
      <th>Rated</th>
      <th>Release Date</th>
      <th>Image</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    @for (movie of movies; track movie.movie_id) {
      <tr>

        <td>{{ movie.movie_id }}</td>
        <td>{{ movie.title }}</td>
        <td style="font-size:10px;" >{{ movie.description }}</td>
        <td>{{ movie.duration }} mins</td>
        <td>{{ movie.genre }}</td>
        <td>{{ movie.language }}</td>
        <td>{{ movie.rated }}</td>
        <td>{{ movie.date | date }}</td>

        <!-- Movie image -->
        <td>
          <img 
            [src]="movie.image" 
            alt="movie image" 
            width="80" 
            height="100" 
            style="object-fit: cover; border-radius: 4px;"
          />
        </td>

        <!-- Edit / Delete -->
        <td>
          <i class="fa fa-pencil" style="font-size:22px; cursor:pointer"></i>
        </td>

        <td>
          <i class="fa fa-trash" style="font-size:22px; cursor:pointer"  (click)="removeMovie(movie.movie_id)"></i>

        </td>

      </tr>
    }
  </tbody>

</table>
