<form (ngSubmit)="onSearch()" autocomplete="off">
  <input
    type="search"
    id="search-input"
    name="q"
    placeholder="Search movies..."
    [(ngModel)]="search_text"
  />

  <button type="submit">Search</button>
  <button mat-raised-button (click)="movieDialog()">Add New Movie?</button>
</form>
 <div class="movie-results">
@if (movieDetails?.length> 0){
  @for (movie of movieDetails; track movie.imdbID){
   
  <div class="movie-card">
    <img [src]="movie.Poster !== 'N/A' ? movie.Poster : 'assets/no-image.png'" alt="Poster" />
    <div class="movie-details" (click)="knownDialog(movie)" >
      <h2>{{ movie.Title }}</h2>
      <p><strong>Year:</strong> {{ movie.Year }}</p>
      <p><strong>Rated:</strong> {{ movie.Rated }}</p>
      <p><strong>Released:</strong> {{ movie.Released }}</p>
      <p><strong>Runtime:</strong> {{ movie.Runtime }}</p>
      <p><strong>Genre:</strong> {{ movie.Genre }}</p>
      <p><strong>Director:</strong> {{ movie.Director }}</p>
      <p><strong>Writer:</strong> {{ movie.Writer }}</p>
      <p><strong>Actors:</strong> {{ movie.Actors }}</p>
      <p><strong>Plot:</strong> {{ movie.Plot }}</p>
      <p><strong>Language:</strong> {{ movie.Language }}</p>
      <p><strong>Country:</strong> {{ movie.Country }}</p>
    </div>
  </div>
  }    
}
@else{
    @if(search_text){
    <p>No movies found.</p>
    }
}



